<launch>
  <!-- Load parameters from YAML -->
  <rosparam file="$(find ekf_fast_lio2)/config/adaptive_filter_parameters.yaml" command="load" />
	<rosparam command="load" 
			  file="$(find ekf_fast_lio2)/config/mid360_gazebo.yaml" />

	<param name="feature_extract_enable" type="bool" value="1"/>
	<param name="point_filter_num" type="int" value="3"/>
	<param name="max_iteration" type="int" value="3" />
	<param name="filter_size_surf" type="double" value="0.5" />
	<param name="filter_size_map" type="double" value="0.5" />
	<param name="cube_side_length" type="double" value="1000" />
	<param name="runtime_pos_log_enable" type="bool" value="0" />
	
  <node pkg="ekf_fast_lio2" 
		  type="fastlio_mapping" 
		  name="laserMapping" 
		  output="screen" /> 

  <!-- Launch the EKF node -->
  <node pkg="ekf_fast_lio2" 
        type="EKFAdaptiveFilter" 
        name="EKFAdaptiveFilter" 
        output="screen"/>

  <!-- Launch the map builder node -->
  <node pkg="ekf_fast_lio2"
        type="mapBuilder"
        name="mapBuilder"
        output="screen">
    <param name="odom_topic"          value="/filter_odom" />
    <param name="lidar_topic"         value="/livox/lidar_CustomMsg" />
    <param name="map_topic"           value="/map_cloud" />
    <param name="map_frame"           value="chassis_init" />
    <param name="save_path"           value="$(find ekf_fast_lio2)/PCD/globalMap_ikdTree.pcd" />
    <param name="map_voxel_size"      value="0.2" />
    <param name="scan_voxel_size"     value="0.1" />
    <param name="filter_size_map_min" value="0.2" />
    <param name="pcd_save_interval"   value="-1" />
    <param name="blind"               value="0.5" />
    <param name="publish_map_en"      value="false" />
    <param name="use_ikdtree"         value="true" />
  </node>
</launch>